@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Responsive Breakpoint
$bp-large-1: 75em;      //1200px
$bp-large-2: 59em;      //944px
$bp-large-3: 48em;      //768px
$bp-medium-1: 35em;     //560px
$bp-medium-2: 35em;     //640px
$bp-small-1: 30em;      //480px
$bp-small-2: 27em;      //432px
$bp-small-3: 22em;      //352px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    color: rgb(54, 54, 54);
}

h3, h4 {
    font-weight: 400;
    color: rgb(100, 100, 100)
}

.app {
    background-image: url('../assets/cold-bg.jpg');
    background-size: cover;
    background-position: bottom;
    transition: .4s ease-out;

    &.warm {
        background-image: url('../assets/warm-bg.jpg');
    }
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .75));
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0 auto 75px;

    .search-bar {
        display: block;
        width: 100%;
        padding: 15px;

        appearance: none;
        border: none;
        background: none;
        outline: none;

        background-color: rgba(255, 255, 255, .5);
        border-radius: 0 0 16px 16px;
        margin-top: -25px;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

        color: #313131;
        font-size: 20px;

        transition: .4s ease;

    }
}